{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
         <br/>
        <div class="center">
          <div class="row" style="text-align:center;">
            <a href="{{ url_for('admin.admin_products') }}" class="btn btn-default">Products</a>
          </div>
        </div>
        <h1 style="text-align:center;">Users</h1>
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="16%"> Name </th>
                  <th width="16%"> Type </th>
                  <th width="16%"> Card Info </th>
                  <th width="16%"> Bill Number</th>
                  <th width="16%"> Delivery Co. </th>
                  <th width="16%"> Tracking No. </th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                  <tr>
                    <td>{{ user.Name }}</td>
                    <td>{{ user.Type }}</td>
                    <td>{{ user.CardInfo }}</td>
                    <td>{{ user.BillNumber }}</td>
                    <td>{{ user.DeliveryCo }}</td>
                    <td>{{ user.TrackingNo }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


